@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Telma';
  src: url('/fonts/Telma-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Telma';
  src: url('/fonts/Telma-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}
